* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Darker Grotesque", sans-serif;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
}

/////////////// colours ///////////////

$dominant: #fff;
$complementary: #7464b2;
$accent: #64b29b;

/////////////// fonts ///////////////

h1,
h2,
h3,
h4 {
  font-family: "Sulphur Point", sans-serif;
}

/////////////// mixins ///////////////
@mixin flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin box-shadow {
  // background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
@mixin border-radius {
  border-radius: 3rem;
}

/////////////// header & footer ///////////////

header {
  position: fixed;
  background-color: #7464b2;
  min-width: 100%;
  z-index: 100;
  @include flex-center-between;
  justify-content: initial;
  display: flex;
}
.header {
  padding: 0 1.5rem;
  width: 100%;
}
h1 {
  font-size: 3rem;
  color: #fff;
}
.header-text {
  color: #fff;
  text-align: end;
  font-size: 2.5rem;
}

/////////////// nav ///////////////
// ul {
//   display: flex;
//   list-style: none;
//   gap: 1rem;
// }

// .nav {
//   display: flex;
//   cursor: pointer;
// }

// //// mobile nav ////

// .nav-items {
//   position: fixed;
//   top: 7.5rem;
//   left: 0;
//   height: calc(100vh - 7.5rem);
//   width: 100%;
//   padding-left: 3rem;
//   background-color: $medium;
//   flex-direction: column;
//   justify-content: center;
//   gap: 3rem;
//   transform: translateX(100%);
//   transition: 1.5s ease-in-out;

//   li {
//     font-size: 3rem;
//     border-left: $light solid 0.5rem;
//     padding-left: 2rem;
//   }
//   a {
//     color: none;
//     padding: 0.5rem;
//     @include swipe($light);
//   }
//   a:hover,
//   a:active {
//     @include swipe-hover($light);
//   }
// }
// .nav-active {
//   transform: translateX(0%);
//   // max-height: max-content;
// }
// .menu-toggler {
//   display: flex;
//   img {
//     height: 3rem;
//   }
// }

/////////////// main-content section ///////////////
body {
  background-color: $dominant;
}
.button:active,
.contact-box a:active,
.link:active {
  transform: scale(0.9);
}

// .main-container {
//   margin-top: 15rem;
// }

// h3 titles
.title,
.hero-headline-container {
  font-size: 3rem;
  padding: 0 1rem 3rem 1rem;
  position: relative;
  width: fit-content;
  // color: $complementary;
}
.title::after,
.hero-headline-container::before {
  position: absolute;
  content: "";
  height: 0.5rem;
  z-index: -5;
  width: 70%;
  background-color: $complementary;
  top: -2rem;
  left: 0.5rem;
  border-radius: 1rem;
}

.container {
  width: 95%;
  padding: 2rem;
}
section,
.contact .container,
.header {
  margin: 0 auto;
  max-width: 140rem;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.skills,
.work {
  margin: 15rem auto;
}
a:link {
  text-decoration: none;
  color: #000;
}
a:visited {
  color: #000;
}
/////////////// hero section ///////////////

.hero {
  height: 100vh;
}
.hero .container {
  display: flex;
  flex-direction: column;
  padding: 0 3.4rem;
}
.hero-name {
  font-size: 1.7rem;
}
.hero-description {
  margin-bottom: 2rem;
}
.hero-text {
  line-height: 2.5rem;
  font-size: 2.8rem;
}
.hero-img-container {
  margin: 0 auto;
}
.hero-img {
  width: 17rem;
}
h2 {
  font-size: 5rem;
  color: $complementary;
  line-height: 4.5rem;
  margin: 1rem 0;
}
.text-highlight {
  color: $complementary;
  font-size: 2.5rem;
}
.arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 3.2rem auto;
  width: 10rem;
  animation: bounce 1s ease;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translate(0px, 6px);
  }
  50% {
    transform: translate(0px, 12px);
  }
  100% {
    transform: translate(0px, 6px);
  }
}

/////////////// skills section ///////////////

.icons-grid {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 1.2rem;
    width: 8rem;
    @include box-shadow;
    @include border-radius;

    img {
      width: 4rem;
      margin-bottom: 0.5rem;
    }
  }

  div:hover {
    animation: shake 0.4s;
    animation-iteration-count: 1;
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px);
    }
    25% {
      transform: translate(-2px, -1px);
    }
    50% {
      transform: translate(3px, 1px);
    }
    75% {
      transform: translate(4px, -1px);
    }
    100% {
      transform: translate(2px, 1px);
    }
  }

  p {
    font-size: 1.6rem;
    padding-top: 0.3rem;
  }
}

/////////////// work section ///////////////

h4 {
  font-size: 2rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.card {
  width: 30rem;
  height: 45rem;
  overflow: hidden;
  margin: 1.5rem;
  @include border-radius;
  background-color: $dominant;
  @include box-shadow;
}
.inner-container {
  // width: 30rem;
  // height: 49rem;
  // overflow: hidden;
  // position: relative;
  img {
    width: 100%;
  }
}
.card-description {
  padding: 0rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.info-text {
  font-size: 2rem;
  line-height: 2rem;
}

/// line after ///
.info-text,
h4 {
  padding: 0.5rem 0;
  position: relative;
}
.info-text::after,
h4::after {
  position: absolute;
  content: "";
  height: 0.1rem;
  width: 100%;
  background-color: $complementary;
  bottom: 0rem;
  left: 0;
  border-radius: 1rem;
}
/// stack names ///
.stack {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}
.stack p {
  padding: 0.3rem 0.5rem;
  color: $complementary;
  font-size: 1.9rem;
  font-weight: 600;
}

/// buttons ///
.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.button {
  border: 0.2rem solid $accent;
  padding: 0 0.8rem 0.8rem 0.8rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}

.button:hover,
.button:active {
  background-color: $accent;
  color: #fff;
  transition: 0.3s ease-in-out;
}

/////////////// contact section ///////////////
.contact {
  background-color: $complementary;
  .container {
    padding: 3rem 0;
  }
}
.contact-container {
  .created-by {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 auto;
  }
}
.contact-box {
  display: flex;
  justify-content: center;
  // margin: 0 auto;

  img {
    width: 5rem;
  }
  img:hover {
    border-radius: 2.5rem;
    @include box-shadow;
  }
  a {
    display: flex;
    margin: 0.5rem;
  }
}
.white-text {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

.link {
  text-decoration: underline;
}
.link:hover {
  background-color: $accent;
  text-decoration: none;
}

/// ********* TABLET SCREEN ********* ///
@media screen and (min-width: 768px) {
  /////////////// header & footer ///////////////

  // h1 {
  //   font-size: 5.5rem;
  // }

  /////////////// nav ///////////////

  // .nav-items {
  //   display: flex;
  //   cursor: pointer;
  //   position: static;
  //   height: auto;
  //   width: auto;
  //   flex-direction: row;
  //   transform: translateX(0%);
  //   transition: none;
  //   gap: 2rem;
  //   li {
  //     font-size: 2.5rem;
  //     border: none;
  //   }
  // }
  // .menu-toggler {
  //   display: none;
  // }

  /////////////// main-content section ///////////////
  .container {
    width: 90%;
  }
  /////////////// hero section ///////////////
  .hero .container {
    flex-direction: row;
  }
  .hero-headline-container {
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }
  .hero-description {
    margin-bottom: 0rem;
    margin-right: 10rem;
  }
  .hero-img-container {
    margin: auto 0;
  }
  .hero-img {
    width: 20rem;
  }

  /////////////// skills section ///////////////
  .icons-grid {
    div {
      // margin: 0 auto;
      padding: 1.2rem;
      width: 10rem;

      img {
        width: 5rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
  }

  /////////////// work section ///////////////
  .cards-container {
    width: 70rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
  }

  /////////////// contact section ///////////////
  .contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .created-by {
      margin: 0;
    }
  }
  .contact-box {
    margin: 0 1rem;
  }
}

/// ********* LAPTOP MONITOR ********* ///
@media screen and (min-width: 1024px) {
  /////////////// header & footer ///////////////

  /////////////// nav ///////////////

  /////////////// main-content section ///////////////
  .container {
    width: 100%;
  }
  /////////////// hero section ///////////////
  // .hero-name {
  //   font-size: 8rem;
  //   padding: 2rem;
  // }

  .hero-img {
    width: 30rem;
  }
  /////////////// skills section ///////////////

  /////////////// work section ///////////////

  .icons-grid {
    max-width: 120rem;
    div {
      width: 12rem;
      margin: 1rem;
      img {
        width: 6rem;
      }
    }
  }
}
/// ********* LARGE MONITOR ********* ///
@media screen and (min-width: 1440px) {
  .cards-container {
    width: 137rem;
  }
}
