* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Darker Grotesque", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Sulphur Point", sans-serif;
}

header {
  position: fixed;
  background-color: #7464b2;
  min-width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: initial;
  display: flex;
}

.header {
  padding: 0 1.5rem;
  width: 100%;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

.header-text {
  color: #fff;
  text-align: end;
  font-size: 2.5rem;
}

body {
  background-color: #fff;
}

.button:active,
.contact-box a:active,
.link:active {
  transform: scale(0.9);
}

.title,
.hero-headline-container {
  font-size: 3rem;
  padding: 0 1rem 3rem 1rem;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.title::after,
.hero-headline-container::before {
  position: absolute;
  content: "";
  height: 0.5rem;
  z-index: -5;
  width: 70%;
  background-color: #7464b2;
  top: -2rem;
  left: 0.5rem;
  border-radius: 1rem;
}

.container {
  width: 95%;
  padding: 2rem;
}

section,
.contact .container,
.header {
  margin: 0 auto;
  max-width: 140rem;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.skills,
.work {
  margin: 15rem auto;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

.hero {
  height: 100vh;
}

.hero .container {
  display: flex;
  flex-direction: column;
  padding: 0 3.4rem;
}

.hero-description {
  margin-bottom: 2rem;
}

.hero-text {
  line-height: 2.5rem;
  font-size: 2.6rem;
}

.hero-img-container {
  margin: 0 auto;
}

.hero-img {
  width: 17rem;
}

h2 {
  font-size: 5rem;
  color: #7464b2;
  line-height: 4.5rem;
  margin: 1rem 0;
}

.text-highlight {
  color: #7464b2;
  font-size: 3rem;
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 3.2rem auto;
  width: 10rem;
  animation: bounce 1s ease;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translate(0px, 6px);
  }
  50% {
    transform: translate(0px, 12px);
  }
  100% {
    transform: translate(0px, 6px);
  }
}
.icons-grid {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icons-grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  padding: 1.2rem;
  width: 8rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
}
.icons-grid div img {
  width: 4rem;
  margin-bottom: 0.5rem;
}
.icons-grid div p {
  font-size: 1.6rem;
}
.icons-grid div:hover {
  animation: shake 0.4s;
  animation-iteration-count: 1;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px);
  }
  25% {
    transform: translate(-2px, -1px);
  }
  50% {
    transform: translate(3px, 1px);
  }
  75% {
    transform: translate(4px, -1px);
  }
  100% {
    transform: translate(2px, 1px);
  }
}
.icons-grid p {
  padding-top: 0.3rem;
}

h4 {
  font-size: 2.2rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.card {
  width: 30rem;
  height: 45rem;
  overflow: hidden;
  margin: 1.5rem;
  border-radius: 3rem;
  background-color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
.card img {
  width: 100%;
}

.card-description {
  padding: 0rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.info-text {
  line-height: 2rem;
}

.info-text,
h4 {
  padding: 0.5rem 0;
  position: relative;
}

.info-text::after,
h4::after {
  position: absolute;
  content: "";
  height: 0.1rem;
  width: 100%;
  background-color: #7464b2;
  bottom: 0rem;
  left: 0;
  border-radius: 1rem;
}

.stack {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.stack p {
  padding: 0.3rem 0.5rem;
  color: #7464b2;
  font-weight: 600;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.button {
  border: 0.2rem solid #64b29b;
  padding: 0.3rem 0.8rem 0.8rem 0.8rem;
  border-radius: 1rem;
}

.button:hover,
.button:active {
  background-color: #64b29b;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.contact {
  background-color: #7464b2;
}
.contact .container {
  padding: 3rem 0;
}

.contact-container .created-by {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 auto;
}

.contact-box {
  display: flex;
  justify-content: center;
}
.contact-box img {
  width: 5rem;
}
.contact-box img:hover {
  border-radius: 2.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
.contact-box a {
  display: flex;
  margin: 0.5rem;
}

.white-text {
  color: #fff;
  text-align: center;
}

.link {
  text-decoration: underline;
}

.link:hover {
  background-color: #64b29b;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
  .hero .container {
    flex-direction: row;
  }
  .hero-headline-container {
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }
  .hero-description {
    margin-bottom: 0rem;
    margin-right: 10rem;
  }
  .hero-img-container {
    margin: auto 0;
  }
  .hero-img {
    width: 20rem;
  }
  .icons-grid div {
    padding: 1.2rem;
    width: 10rem;
  }
  .icons-grid div img {
    width: 5rem;
  }
  .icons-grid div p {
    font-size: 1.8rem;
  }
  .cards-container {
    width: 70rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
  }
  .contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .contact-container .created-by {
    margin: 0;
  }
  .contact-box {
    margin: 0 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 100%;
  }
  .hero-img {
    width: 30rem;
  }
  .icons-grid {
    max-width: 120rem;
  }
  .icons-grid div {
    width: 12rem;
    margin: 1rem;
  }
  .icons-grid div img {
    width: 6rem;
  }
}
@media screen and (min-width: 1440px) {
  .cards-container {
    width: 137rem;
  }
}
@media screen and (max-height: 400px) {
  .hero {
    padding-top: 20rem;
  }
  .arrow {
    display: none;
  }
  header {
    position: relative;
  }
}/*# sourceMappingURL=styles.css.map */