* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Abel, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 7.5rem;
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  font-family: righteous, sans-serif;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
}

header {
  height: 7.5rem;
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 100;
  background-color: #8380b6;
}

footer {
  height: 40rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

.nav {
  display: flex;
  cursor: pointer;
}

.nav-items {
  position: fixed;
  top: 7.5rem;
  height: calc(100vh - 7.5rem);
  width: 110vw;
  background-color: #8380b6;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5rem;
  transform: translateX(100%);
  transition: 1.5s ease-in-out;
}
.nav-items li {
  font-size: 5rem;
  border-left: #f6f0ff solid 0.5rem;
  padding-left: 2rem;
}
.nav-items a {
  color: none;
  padding: 0.5rem;
  box-shadow: inset 0 0 0 0 #f6f0ff;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
}
.nav-items a:hover,
.nav-items a:active {
  box-shadow: inset 200px 0 0 0 #f6f0ff;
  cursor: pointer;
}

.nav-active {
  transform: translateX(-82%);
  padding-left: 3rem;
  max-height: -moz-max-content;
  max-height: max-content;
}

.menu-toggler {
  display: flex;
}
.menu-toggler img {
  height: 3rem;
}

body {
  background-color: #f6f0ff;
}

.main-container {
  margin-top: 7.5rem;
}

.title {
  font-size: 5rem;
  text-shadow: 0px 0px 1rem #8380b6;
  padding: 0 0 3rem 1rem;
}

.hero {
  height: calc(100vh - 7.5rem);
}

.hero-name {
  font-size: 7rem;
  padding: 2rem;
  text-shadow: 0px 0px 1rem #8380b6;
}

.hero-title {
  font-size: 5rem;
  padding: 3rem;
  text-shadow: 0px 0px 1rem #8380b6;
}

.hero-text {
  font-size: 2rem;
  padding: 3rem;
}

.skills {
  background-color: #563f7b;
  height: 40rem;
}

.skills-container {
  width: 100%;
  height: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.icons-grid div {
  background-color: #f6f0ff;
  margin: 0.7rem auto;
  padding: 1.2rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 4px solid #000;
  outline-offset: -7px;
  box-shadow: 0px 0px 1rem black;
}
.icons-grid div img {
  width: 4rem;
}
.icons-grid p {
  font-size: 1.4rem;
  padding-top: 0.3rem;
}

.work {
  min-height: calc(100vh - 7.5rem);
}

.work-container {
  width: 100%;
  height: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.card {
  min-width: 24rem;
  max-width: 24rem;
  height: 50rem;
  margin-bottom: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1rem black;
}

.inner-container {
  min-width: 23rem;
  max-width: 23rem;
  height: 49rem;
  border: 0.4rem solid black;
  overflow: hidden;
}
.inner-container img {
  border-bottom: 0.4rem solid black;
  width: 23.2rem;
}

.card-description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30rem;
}

.info-text {
  padding: 0.5rem 0;
}

.stack {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.stack p {
  background-color: #45f0df;
  padding: 0.3rem 0.5rem;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.button {
  width: 5.5rem;
  text-align: center;
  border: 1px black solid;
  background-color: #fff;
  padding: 0.7rem 0.9rem;
  box-shadow: inset 0 0 0 0 #45f0df;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
}

.button:hover,
.button:active {
  box-shadow: inset 200px 0 0 0 #45f0df;
  cursor: pointer;
}

section,
header,
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.contact {
  background-color: #563f7b;
  height: 40rem;
}

.contact-container {
  width: 100%;
  height: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-box {
  background-color: #f6f0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  outline: 4px solid #000;
  outline-offset: -7px;
  box-shadow: 0px 0px 1rem black;
}
.contact-box img {
  width: 5rem;
}
.contact-box a {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.contact-box p {
  box-shadow: inset 0 0 0 0 #45f0df;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
  padding: 1rem;
}
.contact-box a:hover p {
  box-shadow: inset 200px 0 0 0 #45f0df;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav-items {
    display: flex;
    cursor: pointer;
    position: static;
    height: auto;
    width: auto;
    flex-direction: row;
    transform: translateX(0%);
    transition: none;
    gap: 2rem;
  }
  .nav-items li {
    font-size: 2.5rem;
    border: none;
  }
  .menu-toggler {
    display: none;
  }
  .skills-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding-right: 6rem;
  }
  .icons-grid {
    gap: 3rem;
  }
  .icons-grid div {
    margin: 0 auto;
    padding: 1.2rem;
    width: 9rem;
  }
  .icons-grid div img {
    width: 5rem;
  }
  .icons-grid div p {
    font-size: 1.6rem;
  }
  .cards-container {
    width: 70rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .contact-container {
    height: -moz-fit-content;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-right: 6rem;
  }
  .contact-box {
    margin: initial;
  }
}
@media screen and (min-width: 1024px) {
  .hero-name {
    font-size: 8rem;
    padding: 2rem;
  }
  .hero-title {
    font-size: 6rem;
    padding: 3rem;
  }
  .hero-text {
    font-size: 2rem;
    padding: 3rem;
  }
  .cards-container {
    width: auto;
    margin: initial;
  }
  .hero-container,
  .skills-container,
  .work-container,
  .header,
  .contact-container {
    max-width: 120rem;
  }
}/*# sourceMappingURL=styles.css.map */