* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: monospace, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 7.5rem;
}
body {
  font-size: 1.6rem;
}

/////////////// colours ///////////////
$black: #000;
$white: #fff;
$light: #64dfdf;
$medium: #6930c3;
$dark: #7400b8;
$neon: #80ffdb;

// $black: #000;
// $white: #fff;
// $light: #f6f0ff;
// $medium: #8380b6;
// $dark: #563f7b;
// $neon: #45f0df;

/////////////// fonts ///////////////

h1,
h2,
h3,
h4 {
  font-family: "Rubik Iso", sans-serif;
}

/////////////// mixins ///////////////
@mixin flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin swipe($value) {
  box-shadow: inset 0 0 0 0 ($value);
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
}
@mixin swipe-hover($value) {
  box-shadow: inset 200px 0 0 0 ($value);
  cursor: pointer;
}
@mixin container-size {
  width: 100%;
  height: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin box-blur {
  // background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(1rem);
}
@mixin border-radius {
  border-radius: 5rem;
}
/////////////// header & footer ///////////////
header,
footer {
  @include flex-center-between;
}
footer {
  height: 40rem;
}
.header {
  @include flex-center-between;
  padding: 0 1.5rem;
}
header {
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 100;
}
h1 {
  font-size: 4.2rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5rem;
  height: 45rem;
  width: 120rem;
  border-radius: 55%;
  position: absolute;
  top: -33rem;
  background: linear-gradient(
    122deg,
    rgba(128, 255, 219, 0.7) 0%,
    rgba(86, 207, 225, 0.7) 29%,
    rgba(83, 144, 217, 0.7) 62%,
    rgba(116, 0, 184, 0.7) 100%
  );
  @include box-blur;
}

/////////////// nav ///////////////
ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
a:link {
  text-decoration: none;
  color: $black;
}
a:visited {
  color: $black;
}
.nav {
  display: flex;
  cursor: pointer;
}

//// mobile nav ////

.nav-items {
  position: fixed;
  top: 7.5rem;
  left: 0;
  height: calc(100vh - 7.5rem);
  width: 100%;
  padding-left: 3rem;
  background-color: $medium;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  transform: translateX(100%);
  transition: 1.5s ease-in-out;

  li {
    font-size: 3rem;
    border-left: $light solid 0.5rem;
    padding-left: 2rem;
  }
  a {
    color: none;
    padding: 0.5rem;
    @include swipe($light);
  }
  a:hover,
  a:active {
    @include swipe-hover($light);
  }
}
.nav-active {
  transform: translateX(0%);
  // max-height: max-content;
}
.menu-toggler {
  display: flex;
  img {
    height: 3rem;
  }
}

/////////////// main-content section ///////////////
body {
  background-color: $white;
  background-image: url("./waves.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
}

.main-container {
  margin-top: 15rem;
}
.title {
  font-size: 3rem;
  padding: 0 1rem 3rem 1rem;
}

.container {
  @include box-blur;
  @include border-radius;
  width: 95%;
  // margin: 2rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.18);
}
section {
  margin: 10rem auto;
}

/////////////// hero section ///////////////
// .hero {

// }
.hero-name {
  font-size: 7rem;
  padding: 1rem 2rem;
  // text-shadow: 0px 0px 1rem $medium;
}
.hero-title {
  font-size: 5rem;
  padding: 1rem 3rem;
  // text-shadow: 0px 0px 1rem $medium;
}
.hero-text {
  font-size: 2rem;
  // padding: 1.5rem 3rem;
}
.underline {
  position: relative;
  font-size: 3rem;
}
.underline::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 100%;
  bottom: -1px;
  left: 0;
  right: 0;
  background-color: $medium;
}

/////////////// skills section ///////////////
// .skills {

// }
.skills-container {
  @include container-size;
}
.icons-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: 50rem;
  margin: 0 auto;
  div {
    margin: 0.7rem auto;
    padding: 1.2rem;
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 4rem;
    }
  }
  div:hover {
    animation: shake 0.4s;
    animation-iteration-count: 1;
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px);
    }
    25% {
      transform: translate(-2px, -1px);
    }
    50% {
      transform: translate(3px, 1px);
    }
    75% {
      transform: translate(4px, -1px);
    }
    100% {
      transform: translate(2px, 1px);
    }
  }

  p {
    font-size: 1.4rem;
    padding-top: 0.3rem;
  }
}

/////////////// work section ///////////////
// .work {
// }
.work-container {
  @include container-size;
  padding: 4rem 0;
}
h4 {
  font-size: 2rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.card {
  width: 30rem;
  height: 45rem;
  overflow: hidden;
  margin: 1.5rem;
  @include border-radius;
  background-color: $white;
  @include box-blur;
  backdrop-filter: blur(0);
}
.inner-container {
  width: 30rem;
  height: 49rem;
  overflow: hidden;
  img {
    width: 30rem;
  }
  position: relative;
}

.card-description {
  padding: 0rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.info-text {
  padding: 0.5rem 0;
  font-size: 1.4rem;
  position: relative;
}
.info-text::after {
  position: absolute;
  content: "";
  height: 0.1rem;
  width: 100%;
  background-color: #000;
  bottom: 0rem;
  left: 0;
}
/// stack names ///
.stack {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}
.stack p {
  background-color: $neon;
  padding: 0.3rem 0.5rem;
}

/// buttons ///
.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.button {
  width: 5.5rem;
  text-align: center;
  border: 1px black solid;
  background-color: $white;
  padding: 0.7rem 0.9rem;
  @include swipe($neon);
}
.button:hover,
.button:active {
  @include swipe-hover($neon);
}
section,
header,
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

/////////////// contact section ///////////////
.contact {
  // background-color: $dark;
  height: 40rem;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  background: rgba(255, 255, 255, 0.18);
  @include box-blur;
}
.contact-container {
  @include container-size;
  .created-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: $black;
    width: 30rem;
    margin: 0 auto;
  }
}
.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  width: fit-content;
  // outline: 4px solid $black;
  // outline-offset: -7px;
  // @include box-shadow;
  /* From https://css.glass */

  img {
    width: 5rem;
  }
  a {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
  p {
    @include swipe($neon);
    padding: 1rem;
  }
  a:hover p {
    @include swipe-hover($neon);
  }
}
.link {
  @include swipe($neon);
  padding: 0.5rem;
  width: 22rem;
  text-decoration: underline;
}
.link:hover {
  @include swipe-hover($neon);
}
/// ********* TABLET SCREEN ********* ///
@media screen and (min-width: 768px) {
  /////////////// header & footer ///////////////
  .circle {
    width: 180rem;
  }
  h1 {
    font-size: 5.5rem;
  }
  /////////////// nav ///////////////

  .nav-items {
    display: flex;
    cursor: pointer;
    position: static;
    height: auto;
    width: auto;
    flex-direction: row;
    transform: translateX(0%);
    transition: none;
    gap: 2rem;
    li {
      font-size: 2.5rem;
      border: none;
    }
  }
  .menu-toggler {
    display: none;
  }

  /////////////// main-content section ///////////////
  // .container {

  // }
  /////////////// hero section ///////////////

  /////////////// skills section ///////////////
  .skills .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding-right: 6rem;
  }
  .icons-grid {
    gap: 3rem;
    div {
      margin: 0 auto;
      padding: 1.2rem;
      width: 9rem;
      img {
        width: 5rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }

  /////////////// work section ///////////////
  .cards-container {
    width: 70rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
  }

  /////////////// contact section ///////////////
  .contact-container {
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-right: 6rem;
    .created-by {
      margin: 0;
    }
  }
  .contact-box {
    margin: 0 1rem;
  }
}

/// ********* LAPTOP MONITOR ********* ///
@media screen and (min-width: 1024px) {
  /////////////// header & footer ///////////////
  .circle {
    width: 250rem;
  }
  /////////////// nav ///////////////

  /////////////// main-content section ///////////////

  /////////////// hero section ///////////////
  .hero-name {
    font-size: 8rem;
    padding: 2rem;
  }
  .hero-title {
    font-size: 6rem;
    padding: 3rem;
  }
  .hero-text {
    font-size: 2rem;
    padding: 3rem;
    max-width: 100rem;
    margin: 0 auto;
  }
  /////////////// skills section ///////////////

  /////////////// work section ///////////////

  //// max-width set ////
  .container {
    max-width: 150rem;
  }
}
/// ********* LARGE MONITOR ********* ///
@media screen and (min-width: 1440px) {
  .cards-container {
    width: 137rem;
  }
}
